<h3>Add a new task</h3>
<form (submit)="onSubmit($event)">
  <app-input
    inputType="text"
    label="Title"
    [control]="$any(taskForm.get('title'))"
  >
  </app-input>

  <app-input
    controlType="textarea"
    label="Description"
    [control]="$any(taskForm.get('description'))"
  >
  </app-input>

  <div><button>Submit</button></div>
</form>

<br />

<!-- <div>Form Contents: {{ taskForm.value | json }}</div>
<div>Form is valid: {{ taskForm.valid }}</div>
<div>Errors around title: {{ taskForm.controls.title.errors | json }}</div>
<div>Title is touched: {{ taskForm.controls.title.touched }}</div>
<div>Title is dirty: {{ taskForm.controls.title.dirty }}</div> -->
