<p-panel class="w-full" styleClass="mb-4" [header]="task?.title">
  <p>
    {{ task?.description }}
  </p>

  <ng-template pTemplate="icons">
    <span
      class="pi"
      [ngClass]="{
        'pi-check-circle text-green-500': task?.status,
        'pi-times-circle text-yellow-500': !task?.status
      }"
      [pTooltip]="task?.status ? 'Completed' : 'Incomplete'"
      tooltipPosition="bottom"
      [showDelay]="500"
    ></span>
  </ng-template>
</p-panel>

<div class="flex justify-content-end">
  <p-button
    label="Go back"
    icon="pi pi-arrow-left"
    styleClass="p-button-sm p-button-warning mr-2"
    (click)="onGoBack()"
  ></p-button>
  <p-button
    label="Edit"
    icon="pi pi-pencil"
    [routerLink]="['edit']"
    styleClass="p-button-sm p-button-info mr-2"
  ></p-button>
  <p-button
    [label]="task?.status ? 'Mark as incomplete' : 'Mark as complete'"
    icon="pi pi-check"
    [styleClass]="
      task?.status
        ? 'p-button-sm p-button-warning'
        : 'p-button-sm p-button-success'
    "
    (click)="onChangeStatus(task!.id)"
  ></p-button>
</div>
