<div class="card">
  <div class="flex card-container blue-container overflow-hidden">
    <div
      class="flex-none flex align-items-center justify-content-center bg-blue-500 text-white m-2 px-5 py-3 border-round"
      style="width: 20%"
    ></div>
    <div
      class="flex-grow-1 flex align-items-center justify-content-center bg-blue-500 text-white m-2 px-5 py-3 border-round"
      style="width: 60%"
    >
      <router-outlet></router-outlet>
    </div>
    <div
      class="flex-none flex align-items-center justify-content-center bg-blue-500 text-white m-2 px-5 py-3 border-round"
      style="width: 20%"
    ></div>
  </div>
</div>
