<div class="flex flex-column row-gap-4">
  <p-card [header]="pageHeader">
    <p-divider></p-divider>
    <router-outlet></router-outlet>
  </p-card>

  <p-card header="API Status">
    <p-divider></p-divider>
    <div class="flex flex-column row-gap-2 mb-4">
      <div class="font-medium">Current API Key:</div>
      <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
        {{ currentApiKey }}
      </div>
    </div>
    <div class="flex flex-column row-gap-2">
      <div class="font-medium">Requests until new API key:</div>
      <div class="flex flex-column w-full sm:w-6 progress-bar-container">
        <p-progressBar
          unit="%"
          [showValue]="false"
          [value]="requestCount"
        ></p-progressBar>
        <div class="flex justify-content-center progress-bar-label">
          {{ requestCount }} / 90
        </div>
      </div>
    </div>
  </p-card>
</div>
