<p-card>
  <div class="flex flex-column">
    <h1
      class="flex flex-column align-items-center text-center text-7xl md:text-8xl m-0"
    >
      404
    </h1>
    <p
      class="flex flex-column align-items-center text-center text-3xl md:text-4xl m-0 font-bold"
    >
      Something is no yes!
    </p>
    <p-divider></p-divider>
    <div class="flex flex-column align-items-center m-0">
      <p class="text-center">We couldn't find what you're looking for</p>
      <p class="text-center mb-7 mt-0">:(</p>

      <p-button
        label="Take me back to the homepage"
        styleClass="p-button-raised p-button-text p-button-help"
        (click)="onGoBack()"
      ></p-button>
    </div>
  </div>
</p-card>
