<form>
  <app-input
    inputType="text"
    label="Title"
    [control]="taskForm.get('title')! | formControl"
  >
  </app-input>

  <app-input
    controlType="textarea"
    label="Description"
    [control]="taskForm.get('description')! | formControl"
  >
  </app-input>

  <div class="flex justify-content-between">
    <p-button
      label="Go back"
      icon="pi pi-arrow-left"
      styleClass="p-button-sm p-button-secondary mr-2"
      (click)="onGoBack()"
    ></p-button>
    <p-button
      type="submit"
      (click)="onSubmit($event)"
      label="Submit"
      icon="pi pi-check"
      styleClass="p-button-sm "
    ></p-button>
  </div>
</form>
