<div *ngIf="controlType === 'input'">
  <span class="p-float-label mt-5">
    <input
      class="w-full xl:w-6"
      id="title"
      pInputText
      [type]="inputType"
      [formControl]="control"
    />
    <label htmlFor="title">Title</label>
  </span>

  <div class="w-full xl:w-6 pl-2 mt-2" *ngIf="showErrors()">
    <small
      *ngIf="control.errors?.['required']"
      class="text-red-500"
      id="title-help"
      >Field is required</small
    >
    <div class="flex flex-column" *ngIf="control.errors?.['maxlength']">
      <small class="text-red-500" id="title-help"
        >Title can be up to 100 characters long
      </small>
      <small class="text-red-500" id="title-help"
        >(current length: {{ control.errors?.['maxlength'].actualLength }})
      </small>
    </div>
  </div>
</div>

<div *ngIf="controlType === 'textarea'">
  <span class="p-float-label my-5">
    <textarea
      class="w-full h-15rem"
      pInputTextarea
      [autoResize]="true"
      id="description"
      [formControl]="control"
    ></textarea>

    <label htmlFor="description">Description</label>
  </span>
</div>
